In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("time-series/zillow_data.csv")

In [4]:
df

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14718,58333,1338,Ashfield,MA,Greenfield Town,Franklin,14719,94600.0,94300.0,94000.0,...,216800,217700,218600,218500,218100,216400,213100,209800,209200,209300
14719,59107,3293,Woodstock,NH,Claremont,Grafton,14720,92700.0,92500.0,92400.0,...,202100,208400,212200,215200,214300,213100,213700,218300,222700,225800
14720,75672,40404,Berea,KY,Richmond,Madison,14721,57100.0,57300.0,57500.0,...,121800,122800,124600,126700,128800,130600,131700,132500,133000,133400
14721,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,14722,191100.0,192400.0,193700.0,...,662800,671200,682400,695600,695500,694700,706400,705300,681500,664400
14722,95851,89155,Mesquite,NV,Las Vegas,Clark,14723,176400.0,176300.0,176100.0,...,333800,336400,339700,343800,346800,348900,350400,353000,356000,357200

In [29]:
df[(df['State'] == 'IL') & (df['RegionName'] > 60020)].sort_values('RegionName')

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
10723,84290,60021,Fox River Grove,IL,Chicago,McHenry,10724,163400.0,163600.0,163700.0,...,216700,221200,223900,225200,226000,225700,225800,227500,231000,233400
9503,84291,60022,Glencoe,IL,Chicago,Cook,9504,543600.0,545300.0,546900.0,...,1038900,1034000,1032500,1036000,1042100,1047400,1053500,1048300,1026100,1003800
1570,84292,60025,Glenview,IL,Chicago,Cook,1571,285000.0,286700.0,287900.0,...,493900,492200,490800,489400,487600,485900,484500,484800,486900,488100
7218,84293,60026,Glenview,IL,Chicago,Cook,7219,382800.0,381100.0,379200.0,...,592500,591900,589400,587800,585600,581800,579700,581900,586500,589400
2052,84295,60030,Grayslake,IL,Chicago,Lake,2053,156100.0,156900.0,157200.0,...,199500,199900,200700,201500,202600,203700,205100,206800,207900,207700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7990,85784,62918,Carterville,IL,Carbondale,Williamson,7991,54900.0,55000.0,55100.0,...,100800,101700,102000,102600,103800,105000,105800,107000,109300,111600
12408,85788,62922,Creal Springs,IL,Carbondale,Williamson,12409,NaN,NaN,NaN,...,138100,141300,144600,146200,147700,148200,146900,145600,145500,145900
7035,85808,62948,Herrin,IL,Carbondale,Williamson,7036,33300.0,33200.0,33100.0,...,69200,69600,69800,70100,70500,70900,70700,70200,70100,70200
14290,85833,62974,Pittsburg,IL,Carbondale,Williamson,14291,NaN,NaN,NaN,...,84300,84800,84800,84900,85100,85700,86100,85800,85700,85900
11507,85848,62995,Vienna,IL,NaN,Johnson,11508,NaN,NaN,NaN,...,74900,77000,78100,78700,80600,82600,82700,81900,81900,82700